<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>New Puppy!</h1>
    <form method="post" action="/new">
      <p>name:<textarea name="name"></textarea></p>
      <p>breed:<textarea name="breed"></textarea></p>
      <p>age:<textarea name="age"></textarea></p>
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
